body{
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat",sans-serif;
    text-transform: inherit;
}
.container-home{
    background-image: url('../image/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.navbar-menu{
    display: flex;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 3;
}
.navbar{
    margin: .74rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px #cccccc;
    top: 0px;
}
.img.brand{
    border-radius: 50%;
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.nav-item{
    display: inline;
    list-style-type: none;
    padding: 1rem;
    margin: 1rem;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-link:hover{
    color: #fff;
    background-color: #F9004D;
    border: 2px;
    border-radius: 10px;
    height: 3rem;
    padding: 8px;
    transition: 1s ease-in-out;
}
.fa{
    margin: 1rem;
    color:#F9004D;
    font-size: 1.5rem;
    cursor: pointer;
}
.fa:hover{
    background-color: #F9004D;
    color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    transition: 1s ease-out;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:2rem;
    height: 21px;
}
.fa-bars{
    width: 2rem;
    color: #F9004D;
}
.nav-button{
    background-color: #F9004D;
    height: 3rem;
    width: 8rem;

    margin: 1rem;
    border-radius: 8px;
    border: 2px;
    color: #fff;
    font-weight: bold;
    font-size: large;
}
.nav-button:hover{
    background-color: white;
    transition: 1s ease-in-out;
    color: rgb(10, 10, 10);
    border: 6px  black;
    cursor: pointer;
    box-shadow: 10px 10px 3px #aaaaaa;

}
.container-body{
    margin-left: 4rem;
    margin-right: 4rem;
}
.content{
    margin-top: 12rem;
}
.sub-content{
    margin: 5px;
    letter-spacing: 10px;
}
.para-container{
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 3.5rem;
    align-items: center;
}
.para-container span{
    color: #F9004D;
}

.about{
    margin:1rem;
}
.about-header{
    text-align: center;
    color:#F9004D;
    font-size: 2rem;
}
.about-header hr{
    width: 20rem;
}
.container-about{
    display: flex;
    justify-content: space-around;
    margin-left: 4rem;
    margin-top: 4rem;
    margin-right: 4rem;
}
.img-about{
    width: 23rem;
    height: 36rem;
    border-radius:1rem;
    box-sizing: border-box;
    box-shadow: 40px 40px 40px #eeeeee;
    transition: 1.5s ease;

}
.img-about:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.about-menu{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.column-two h2{
    font-size: 3rem;
}
.column-two-p{
    font-size: 1rem;
    margin: 1rem;
    color: #717173;
}
.about-menu span:hover{
    color: #F9004D;
    border: 2px solid #F9004D ;
    border-left: none;
    border-right: none;
    border-top: none;
}
.about-container{
    margin:2rem;
    text-align: center;
   justify-content: center;
}
.about-container h1{
    font-size: 3rem;
}
.page-logo{
    margin: 4rem;
}

.page-logo img{
    width: 8rem;
    margin: 3rem;
    border: 1px solid #cccccc;
    padding: 5rem;
    border-radius: 6px;
    transition: all 1s ease;
}
.page-logo img:hover{
    background-color: #F9004D;
    transform: scale(1.3);
}
.service-page{
   margin: 4rem;
}
.imageContainer {
    opacity: 85%;
    margin: 1.2rem;
    width: 22rem;
    display: inline-block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 1s ease-in;
    color: var(--color-heading);
}
 .imageContainer:hover {
    background-image: #F9004D;
    transform: scale(1.1);
 }
 .captionBlock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(255, 255, 255);
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
 }
 .captionBlock button{
    border: 1px solid #cccccc;
    outline: none;
    background: none;
    color: white;
    border-radius: 8px;
    padding: 9px;
 }
 .btn-alert{
    background-color: #F9004D;
    border: 2px solid #F9004D;
    color: #FFFFFF;
    width: 15rem;
    font-size: 1rem;
    outline: none;
    height: 3rem;
    border-radius: 8px;
 }
 .btn-hire{
    background-color: white;
    border: 2px solid #F9004D;
    color: #F9004D;
    width: 15rem;
    font-size: 1rem;
    outline: none;
    height: 3rem;
    border-radius: 8px;
 }
 .img-contact img{
    width: 23rem;
    height: 38rem;
    border-radius: 1rem;
    box-shadow: 30px 30px 10px #eeeeee;
    transition: 1.5s ease;
 }
 .img-contact img:hover{
    transform: scale(1.1);
    box-shadow: none;
 }
 .contact h1{
    font-size: 3rem;
    font-weight: bold;
 }
 .contact-div{
    margin-top: 6rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
 }
 .form-contact{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 33rem;
 }
 .form-contact input{
    padding: 0.9rem;
    font-size: 1em;
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #cccccc;
 }
 .form-contact input:focus{
    border-color: #F9004D;
    outline: none;
 }
 .form-contact textarea{
    margin-top: 1rem;
    border-radius: 5px;
    border: 2px solid #cccccc;
    outline: none;
    height: 6rem;
 }
 .form-contact input[type='submit']{
    background-color: #F9004D;
    border: 2px solid #F9004D;
    color: #FFFFFF;
    width: 15rem;
    font-size: 1rem;
    outline: none;

 }
 footer{
    background-color: #1D1E24;
 }
 .footer-logo img{
    width: 5rem;
    height: 5rem;
 }
 .footer-div{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
 }
 /* responsive with phone */

 @media (max-width: 600px) {
    .btn-alert,.btn-hire{
        width: 6rem;
        margin-top: 1rem;
        margin: 1rem;
    }
    .img-contact img{
        width: 22rem
    }
    .page-logo{
        margin: 1.5rem;
    }
     .footer-div{
        display: block;
        justify-content: center;
        align-items: center;
     }
    .contact-div{
        margin: 3rem;
        display: block;
        flex-direction: row-reverse;
    }
    .service-page{
        margin: 1.5rem;
    }
    .form-contact{
        width: 24rem;
        margin-bottom: 2rem;
    }
    .container-about{
        display: block;
        margin: 2rem;
    }
    .img-about{
        width: 23rem;
    }
    .container-home{
        overflow: auto;
        background-image: url('../image/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .toggle-button{
        display: flex;
    }
    .navbar-menu{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        justify-content: flex-end;

    }
    .nav-menu{
        margin: 1rem;
        flex-direction: column;
    }
    .nav-item{
        width: 100%;
        margin: 0;
        padding: 0.60rem;
    }
    .nav-icon{
        display: none;  
    }
    .nav-button{
        flex-direction: row;
        justify-content: flex-end;
    }
    .navbar-menu.active {
        display: flex;
    }
    .para-container{
        font-size: x-large;
    }
    .container-body{
        margin-left: 2rem;
        margin-right: 2rem;
    
    }
}
